{
  "a-simple-code": "http://google.com",
  "also-possible": {
    "link": "http://google.com"
  },
  "a-password-protected-link": {
    "link": "http://google.com",
    "password": "hello123"
  },
  "a-password-protected-link-with-info": {
    "link": "http://google.com",
    "password": "hello123",
    "info": "The password is `hello123`"
  },
  "a-disabled-link": {
    "disabled": true,
    "link": "http://google.com"
  }
}